@model PaintClicker.Models.ApplicationUser
@using PaintClicker.DatabaseModels
@*<div class="gameContainer">
        <div class="paintFlexParent">
            <table>
                <tr>
                    <th>Upgrade</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
                @* For each (upgrade/too/item) add a new row with each variable's information
            </table>
        </div>
        <div class="generationDiv">
            <button id="chipGen" type="button" class="buttonAlpha buttonBeta">Generate Paint Chips</button>
        </div>
    </div>*@

@{
    Playe player = new Playe()
    {
        Chisels = 0,
        Email = "",
        Mixer = 0,
        Name = "",
        PaintChips = 0,
        PaintChuncks = 0,
        Workers = 0
    };
    if (User.Identity.IsAuthenticated)
    {
        player = new Playe();
        using (var db = new WebClickerGameEntities())
        {
            List<Playe> queryResult = null;
            //queryResult = db.Playes.Where(x => x.Email == Model.Email).ToList();

            if (queryResult != null)
            {
                player = queryResult.First();
            }
            else
            {
                player = new Playe()
                {
                    Chisels = 0,
                    Email = Model.Email,
                    Mixer = 0,
                    Name = Model.UserName,
                    PaintChips = 0,
                    PaintChuncks = 0,
                    Workers = 0
                };
            }
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paint Clicker</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Clicker.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>

</head>

<body>
    <div class="row">
        <div id="clickUpgrades" class="mainContainer">
            <div class="shopParent">
                <div class="shopContainer">
                    <button class="inventoryButton" type="button" id="chiselButton">Buy Chisel</button>
                    <p>
                        <text>Owned:</text>
                        <div id="chiselAmount">0</div>
                        <text>Price:</text>
                        <div id="chiselPrice">50</div>
                    </p>
                </div>
                <div class="shopContainer">
                    <button class="inventoryButton" type="button" id="workerButton"> Buy Worker</button>
                    <p>
                        <text>Owned:</text>
                        <div id="workerAmount">0</div>
                        <text>Price:</text>
                        <div id="workerPrice">10</div>
                    </p>
                </div>
                <div class="shopContainer">
                    <button class="inventoryButton" type="button" id="mixerButton">Buy Mixer</button>
                    <p>
                        <text>Owned:</text>
                        <div id="mixerAmount">0</div>
                        <text>Price:</text>
                        <div id="mixerPrice">25</div>
                    </p>
                </div>
            </div>
        </div>

        <div id="clickPanel" class="mainContainer">
            <div id="playerStats">
                <p>Chips Generated:</p>
                <div id="chipCount">@player.PaintChips</div>
                <div id="chipsPerSecond">0</div>
                <button class="paintClick" type="button" id="chipButton"></button>
            </div>
        </div>

        <div id="generationUpgrades" class="mainContainer">
        </div>
    </div>
    @Html.HiddenFor(x => Model.Email, new { id = "EmailHidden" })
    <script src="~/Scripts/GameLogic.js" type="text/javascript"></script>
</body>

</html>


