@*<div class="gameContainer">
        <div class="paintFlexParent">
            <table>
                <tr>
                    <th>Upgrade</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
                @* For each (upgrade/too/item) add a new row with each variable's information
            </table>
        </div>
        <div class="generationDiv">
            <button id="chipGen" type="button" class="buttonAlpha buttonBeta">Generate Paint Chips</button>
        </div>
    </div>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paint Clicker</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Clicker.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="row">
        <div id="clickPanel">
            <div id="playerStats">
                <p id="chipCount">0</p>
                <p id="chipsPerSecond"></p>
                <button class="paintClick" type="button" id="chipButton"></button>
            </div>
        </div>
        <div id="clickUpgrades">
            <div class="shopContainer">
                <button class="inventoryButton" type="button" id="chiselButton">Buy Chisel </button>
                <p id="chiselAmount">Owned: </p>
                <p id="chiselPrice">Price: </p>
            </div>
            <div class="shopContainer">
                <button class="inventoryButton" type="button" id="workerButton">Buy Worker</button>
                <p id="workerAmount">Owned:</p>
                <p id="workerPrice">Price: </p>
            </div>
            <div class="shopContainer">
                <button class="inventoryButton" type="button" id="mixerButton">Buy Mixer</button>
                <p id="mixerAmount">Owned: </p>
                <p id="mixerPrice">Price: </p>
            </div>
        </div>
        <div id="generationUpgrades">
        </div>
    </div>

</body>
</html>
<script src="~/Scripts/GameLogic.js" type="text/javascript"></script>



