@*<div class="gameContainer">
    <div class="paintFlexParent">
        <table>
            <tr>
                <th>Upgrade</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>
            @* For each (upgrade/too/item) add a new row with each variable's information
        </table>
    </div>
    <div class="generationDiv">
        <button id="chipGen" type="button" class="buttonAlpha buttonBeta">Generate Paint Chips</button>
    </div>
</div>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paint Clicker</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Clicker.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="row">
        <div class="column middle" style="background-color: #02547D;">Column</div>
        <div class="column side" style="background-color: #0284A8;">Column</div>
    </div>

    <div class="footer">
        <button  class="paintClick" type="button">CHIP</button>
    </div>

</body>
</html>


