@{
    ViewBag.Title = "Login Failure";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Clicker.css">

</head>

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
