@model PaintClicker.Models.ApplicationUser

@{
    ViewBag.Title = "Home Page";
}   

<div class="jumbotron">
    <h1>Paint Clicker</h1>
</div>

<div class="panel">
    @{
        Html.RenderPartial("_ClickerBox"); 
    }
</div>

