* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
}



#content, html, body {
    height: 98%;
}

#clickPanel {
    float: left;
    height: 100%;
    width: 33.33%;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

#clickPanel p{
    
}

&:focus{
    outline:none;
}

#generationUpgrades {
    float: left;
    width: 33.33%;
    height: 100%;
    overflow-y: scroll;
    overflow: hidden;
    padding-right: 17px;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    border-left: solid 2px black;
    border-right: solid 5px black;
    background: 
}

#clickUpgrades {
    float: left;
    width: 33.33%;
    height: 100%;
    overflow-y: scroll;
    overflow: hidden;
    padding-right: 10px;
    border-top:solid 5px black;
    border-bottom:solid 5px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.container {
    padding:0;
    margin:auto;
    width:90%;
}

.shopParent {
    height: 100%;
    width: 100%;
}

.shopContainer {
    text-align: center;
    margin: auto;
}

.mainContainer {
    background: rgba(0, 0, 0, .3);
    align-content: center;
}


/* Style the footer */
.footer {
    background-color: #0284A8;
    padding: 40px;
    text-align: center;
    width: 100%;
    border-top: solid 5px;
}

.paintClick {
    width: 105px;
    height: 105px;
    border: solid 2px black;
    margin-top:50%;
    background: url(https://png.icons8.com/?id=17516&size=2x) 0px 0px no-repeat;
    font-size: 50px;
}


.jumbotron{
    background: rgba(0, 0, 0, .20);
    height: 200px;
    text-align:center;
    align-items: center;
    margin-bottom:50px;
}

.inventoryButton {
    font-size: 35px;
    color: black;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
        height: 800px;
    }
}
